certifi==2020.6.20
charset-normalizer==2.0.10
dataclasses==0.8
dominate==2.6.0
idna==3.3
imageio==2.15.0
jsonpatch==1.32
jsonpointer==2.2
numpy==1.19.5
opencv-python==4.5.5.62
Pillow==8.4.0
pyzmq==22.3.0
requests==2.27.1
scipy==1.5.4
six==1.16.0
torch==1.10.2+cu111
torchfile==0.1.0
torchvision==0.11.3+cu111
tornado==6.1
typing_extensions==4.0.1
urllib3==1.26.8
visdom==0.1.8.9
websocket-client==1.2.3
